<td>
  <a class="costume--approve" href="{{app.request.getBaseURL()}}/costume/approve/{{ costume.hash_id }}">approve</a>
  <a class="costume--disapprove" href="{{app.request.getBaseURL()}}/costume/disapprove/{{ costume.hash_id }}">disapprove</a>
</td>
