{# @TODO :
  refactor in form.css
#}
<style>
  label, input, div[classname*="costume--input--*"]{
    display:block;
  }
</style>
<form id="login-form" method="post" action="{{ app.request.getBaseURL()}}/account/login">
  <label for="tipper username">username: </label>
  <input type="text" name="login-name"/>

  <label for="tipper password">password: </label>
  <input type="password" name="login-password"/>

  {# @TODO :
    security_token
  #}

  <input type="submit" name="login-submit" id="login-submit" value="login" />
</form>
